.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  width: 90%; 
  height: 50px;
}

.title {
  margin-top: 0px;
  align-items: baseline;
  display: flex;
  width: 30%;
  justify-content: flex-start;
}

.menu {
  align-items: flex-end;
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: flex-end;
}


.menu-item {
  align-self: center;
  width: 80px;
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
}